asgiref @ file:///opt/conda/conda-bld/asgiref_1661287532135/work
backports.zoneinfo @ file:///opt/conda/conda-bld/backports.zoneinfo_1661287532800/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Django @ file:///opt/conda/conda-bld/django_1661296381686/work
et-xmlfile==1.1.0
fonttools==4.25.0
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///croot/pandas_1692289311655/work
Pillow==8.4.0
ply==3.11
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1695131579487/work
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sqlparse @ file:///croot/sqlparse_1690901927333/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///croot/tornado_1696936946304/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
zipp @ file:///croot/zipp_1672387121353/work
