{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Compress | {% block page_title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'compress/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    {% block css_files %}
    {% endblock %}
</head>
<body>

<div class="container">
    {% include 'partials/_navbar.html' %}
    {% block content %}{% endblock %}

</div>

{% block js_files %}
    <script src="{% static 'compress/js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'compress/js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>

</html>