{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css_files %}
        <link rel="stylesheet" href="{% static '/compress/css/bootstrap.min.css' %}">
    {% endblock %}
    {% block js_files %}
        <script src="{% static '/compress/js/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
        <script src="{% static '/compress/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body>

{% block success %}
<div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                Dosyanız Yüklendi
            </div>
        </div>
    </div>

</div>
{% endblock %}
</body>
</html>